<div class="jumbotron jumbotron-fluid banner position-relative">
  <div class="container text-center">
    <h1 class="display-4 title">The Champions buying club</h1>
    <p class="lead catchphrase">You're good at buying game ?</p>
    <p class="lead">We're good at selling them !</p>
 </div>
  </div>
  
  



