<div class="jumbotron jumbotron-fluid banner position-relative">
  <div class="container text-center">
    <h1 class="display-4">The Champions buying club</h1>
    <p class="lead catchphrase">You're good at buying game ?</p>
    <p class="lead">We're good at selling them !</p>
  </div>
  <div class="overlay position-absolute w-100 h-100 bg-dark"></div>
</div>
