{% extends "layout/index.njk" %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <h1>API</h1>
    </div>
    <div class="row">
      <p>This videogame website is also a JSON API.</p>

    </div>
    <div class="row">
      <div class="col-12 mb-5 mt-5">
        <h2>Games</h2>
      </div>
      <div class="col-12">
        <h3>GET all games</h3>
        <pre class="bg-light border border-secondary rounded col-12"><code>
        curl -H 'Accept: application/json' https://videogames-sparta.herokuapp.com/games
      </code></pre>
      </div>

      <div class="col-12">
        <h3>GET one game</h3>
        <p>Once you have the <em>slug</em> of a game, you can use it to get its data directly:</p>
        <pre class="bg-light border border-secondary rounded col-12"><code>
        curl -H 'Accept: application/json' https://videogames-sparta.herokuapp.com/games/uncharted-4-a-thief-s-end
      </code></pre>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 mb-5 mt-5">
        <h2>Platforms</h2>
      </div>
      <div class="col-12">
        <h3>GET all Platforms</h3>
        <pre class="bg-light border border-secondary rounded col-12"><code>
        curl -H 'Accept: application/json' https://videogames-sparta.herokuapp.com/platforms
      </code></pre>
      </div>
      <div class="col-12">
        <h3>GET one platform</h3>
        <p>Once you have the <em>slug</em> of a platform, you can use it to get its data directly:</p>
        <pre class="bg-light border border-secondary rounded col-12"><code>
        curl -H 'Accept: application/json' https://videogames-sparta.herokuapp.com/platforms/nintendo-switch
      </code></pre>
      </div>
      <div class="col-12">
        <h3>GET all games of one platform</h3>
        <pre class="bg-light border border-secondary rounded col-12"><code>
        curl -H 'Accept: application/json' https://videogames-sparta.herokuapp.com/platforms/nintendo-switch/games
      </code></pre>
      </div>
    </div>
  </div>
</div>
{% endblock %}
