{% extends "layout/index.njk" %}

{% block beforeContainer %}
  {% include "components/banner.njk" %}
{% endblock %}

{% block content %}
  <div class="container pub">
        {% include "layout/pub.njk" %}  
  </div>
  {% include "components/home-carrousel.njk" %}
{% endblock %}



