.card {
  transform: perspective(900px) rotateX(60deg) scale(0.7);
  box-shadow: 0px 20px 100px #555;
  transition: 0.5s ease all;
}
.card:hover {
  transform: rotate(0deg) scale(1) translateY(10px);
}
#PlatformsTitle {
  color: white;
}

/*text qui defile*/
/* le block conteneur */
.marquee-rtl {
  color: white;
  max-width: 30em; /* largeur de la fenêtre */
  margin: 1em auto 2em;
  border: 10px solid#f0f0ff00;
  overflow: hidden; /* masque tout ce qui dépasse */
  box-shadow: 0 0.25em 0.5em rgba(204, 204, 204, 0), inset 0 0 1em 0.25em #cccccc00;
}
/* le bloc défilant */
.marquee-rtl > :first-child {
  display: inline-block; /* modèle de boîte en ligne */
  padding-right: 2em; /* un peu d'espace pour la transition */
  padding-left: 100%; /* placement à droite du conteneur */
  white-space: nowrap; /* pas de passage à la ligne */
  animation: defilement-rtl 15s infinite linear;

  animation-name: defilement-rtl; /* référence à la règle @keyframes mise en oeuvre */
  animation-delay: 1s; /* valeur à ajuster suivant la longueur du message */
  animation-iteration-count: infinite; /* boucle continue */
  animation-timing-function: linear; /* pas vraiment utile ici */
}
@keyframes defilement-rtl {
  0% {
    transform: translate3d(0, 0, 0); /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%, 0, 0); /* position finale à gauche */
  }
}

/* .partial-text {
  height: 124px;
  overflow: hidden;
}

@media (min-width: 576px) {
  .platforms-list .card {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .platforms-list .card {
    width: 44%;
  }
}

@media (min-width: 992px) {
  .platforms-list .card {
    width: 30%;
  }
}

@media (min-width: 1200px) {} */
