<footer class="footer">
  <div class="content has-text-centered">
  <div class="row">
    <div class="col-sm-10">    <p>
      <strong>Champion Squad Catalog</strong> by <a href="https://www.youtube.com/watch?v=2Z4m4lnjxkY" target="_blank"> The Champion's Ligue </a>. © 2020 Copyright: Trololol Corporation.
    </p></div>
    <div class="col-sm-2"> Secret Button</div>
  </div>

    <p>Nos Partenaires :</p>
    <div id="nosPartenairesFotter">
    <li>Better Saul Call</li>
    </div>
  </div>
</footer>